<!-- DevList -->

<section class="authenticate" id="about" style="height:600px">
    <div class="container-fluid">

        <!--ng-repeat="device in devices"-->
        <div class="row">
            <div class="col-sm-6 padding-top-xl">
                <div class="col-md-12 text-center">
                    <img id= "smile_img" src="./img/neutral.png" style="width:30%;height:30%;" class="text-center">
                </div>
                <div class="col-md-12 text-center">
                    <h6 id="event">confidence score: {{score}}</h6>

                    <div id="success"  ng-show="score>1000">
                        <h2>"Successfully Authenticated"</h2>
                        <h3> Please confirm on your mobile to continue </h3>
                        <!--<h5>Having trouble? ... request for an One time password, to your email <i class="fa fa-cc"></i></h5>-->
                    </div>
                </div>

            </div>
            <div class="col-sm-6 text-center padding-top-xl" id="devices">

                <!--<h2 ng-repeat="item in scoreItems">-->
                    <!--{{item.scoreType.replace("_", " ")}} <i class="fa fa-tablet"></i> <i class="fa fa-fw fa-cogs"> </i>-->
                <!--</h2>-->
                <h2 id="SMART_PHONE_ACTIVE" class="inactive device">SMART PHONE <i class="fa fa-mobile-phone heartbeat"></i> </h2>
                <h3 id="SMART_PHONE_WIFI_SSID" class="inactive">WIFI SSID <i class="fa fa-wifi" ></i> </h3>
                <h3 id="SMART_PHONE_IP_ADDRESS" class="inactive">IP ADDRESS <i class="fa fa-safari"></i> </h3>
                <h3 id="SMART_PHONE_BT_ADDRESS" class="inactive">BT ADDRESS <i class="fa fa-signal"></i> </h3 >
                <h2 id="BEACON_ACTIVE" class="inactive device">BEACON <i class="fa fa-key heartbeat"></i> </h2>
                <h3 id="BEACON_BT_ADDRESS" class="inactive">BT ADDRESS <i class="fa fa-signal"></i></h3>
                <h3 id='BEACON_PROX' class="inactive">PROXIMITY <i id='person' class="fa fa-male"></i> <i id="beacon" class="fa fa-map-pin"></i></h3>


                <!--<h2>step 4 <i class="fa fa-wifi"></i> <i class="fa fa-fw fa-cogs"></i></h2>-->

                <!--<h2>step 5 <i class="fa fa-apple"></i> <i class="fa fa-fw fa-cogs"></i></h2>-->
            </div>
        </div>


    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>






<!--
{"event":"OPEN","masterId":"b952d522d21157be","status":"INIT"}
{"masterId":"b952d522d21157be","event":"LOGIN_DEVICES","deviceId":"b952d522d21157be","deviceType":"SMART_PHONE","wifiSSID":"eduroam","ipAddress":"10.128.15.13"}
{"masterId":"b952d522d21157be","event":"LOGIN_DEVICES","deviceId":"b9407f30-f5f8-466e-aff9-25556b57fe6d","deviceType":"BEACON","proximity":2}
{"masterId":"b952d522d21157be","event":"LOGIN_DEVICES","deviceId":"b9407f30-f5f8-466e-aff9-25556b57fe6d","deviceType":"BEACON","proximity":2}
{"masterId":"b952d522d21157be","event":"LOGIN_DEVICES","deviceName":"estimote","bluetoothAddress":"EA:5C:9B:28:88:D1","deviceType":"BEACON"}
{"masterId":"b952d522d21157be","event":"LOGIN_DEVICES","deviceName":"estimote","bluetoothAddress":"D2:E9:1F:63:D6:D3","deviceType":"BEACON"}
{"masterId":"b952d522d21157be","event":"LOGIN_DEVICES","deviceName":"Sasinda’s MacBook Pro","bluetoothAddress":"A0:99:9B:1D:AC:46","deviceType":"BEACON"}
{"masterId":"b952d522d21157be","event":"CONFIRMED","deviceId":"b952d522d21157be"}

-->