<script type="text/javascript" src="lib/qrcode.js"></script>
<section class="success" id="about">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-sm-9 col-md-offset-4">

                <!--<img src="/img/qrcode.png" >-->
                <img src="/img/BobQR.png">
                <!--<div id="QRCode" style="width:100px; height:100px; margin-top:15px;"></div>-->

                <span>OTP: 1234</span>
            </div>
        </div>
        <hr>
        <div class="col-md-6 col-md-offset-4">

            <p>
                <a> trouble scanning QR code: download app from here</a>
                <br/>
                Or enter your mobile number below, so we can set you up.
            </p>

        </div>


        <div class="row">

            <div class="col-md-9 col-md-offset-1">

                <form class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="mobile">Mobile</label>

                            <div class="col-md-4">
                                <input id="mobile" name="mobile" type="text"
                                       placeholder="Type your mobile number we will set you up"
                                       class="form-control input-md">
                            </div>
                            <div class="col-md-4">
                                <button id="send" name="send" class="btn btn-primary">send sms</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>


    </div>
</section>

<!--<script type="text/javascript" src="/lib/qrcode.js"></script>-->
<!--<script type="text/javascript">-->
    <!--setTimeout(function(){-->
        <!--var QRCode = new QRCode(document.getElementById("QRCode"), {-->
                <!--width : 100,-->
                <!--height : 100-->
               <!--});-->
        <!--QRCode.makeCode("Bob");-->
    <!--}, 5000);-->
<!--</script>-->

