<section class="success" id="about">
    <div class="container-fluid">
        <div class="row">
            <img src="./img/Citi.png" class="text-center">
        </div>
        <div class="row" >
            <div class="col-md-offset-1 col-md-9 " id="steps">
                <form class="form-signin" method="get" action="/#/myAccount">
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <label for="inputEmail" class="sr-only">Username</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="username" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <div> <span style="color : black">please type: </span> <span style="font-size : 1.2 em">
                                This is an awesome pretotype :)</span>  </div>
                    <div id="msg" style="display : none ; color : yellow">
                        <i class="fa fa-2x fa-keyboard-o"></i> <img src="img/loadingBlack.gif" height="32px">
                    </div>
                    <input type="text" id="inputPassword" class="form-control" placeholder="my special sentence" required="">
                    <div class="checkbox">
                        <label>
                            <input id='checkbox' type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>

                    <a id='link' href="/#/myAccount" class="btn btn-outline" style="color : white">
                        Sign in
                    </a>
                    <a class="btn btn-outline" style="border-color:cadetblue; color:cadetblue" href="/#/register"> Register</a>


                </form>
            </div>
        </div>

    </div>
</section>