<section class="success" id="about">
    <div class="container-fluid">
        <div class="row">
            <img src="./img/Citi.png" class="text-center">
        </div>
        <div class="row" >
            <div class="col-md-offset-1 col-md-9 " id="steps">
                <form class="form-signin"ng-submit="authenticate()">
                    <fieldset>
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="userName">username</label>
                        <div class="col-md-4">
                            <input id="userName" name="userName" type="text" placeholder="username" class="form-control input-md" ng-model="user.userName">
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group row" ng-hide="passiveAuth">
                        <label class="col-md-1 control-label" for="password">Password</label>
                        <div class="col-md-4">
                            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" value="test" ng-model="user.password">
                        </div>
                    </div>


                    <div class="checkbox">
                        <label>
                            <input id='checkbox' type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>

                    <button type="submit" class="btn btn-outline" style="color : white">
                        Sign in
                    </button>
                    <a class="btn btn-outline" style="border-color:cadetblue; color:cadetblue" href="/#/register"> Register</a>
                    </fieldset>
                    {{message}}
                </form>
            </div>
        </div>

    </div>
</section>