<section class="login" id="about">
    <div class="container-fluid">

        <div class="row padding-top-xl">
            <div class="col-md-offset-5 col-md-3 form-login" id="steps">

                <div class="row">
                    <img src="./img/Citi.png" style="width:50%;"class="text-center">
                </div>
                <form class=""ng-submit="authenticate()">
                    <fieldset>
                    <h3 class="form-signin-heading">Please sign in</h3>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="username">username</label>
                        <div class="col-md-9">
                            <input id="username" name="username" type="text" placeholder="username" class="form-control input-md" ng-model="user.username">
                        </div>
                    </div>

                    <!-- Password input-->
                   <!-- <div class="form-group row" ng-hide="passiveAuth">
                        <label class="col-md-3 control-label" for="password">Password</label>
                        <div class="col-md-9">
                            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" value="test" ng-model="user.password">
                        </div>
                    </div>
-->

                    <div class="checkbox">
                        <label>
                            <input id='checkbox' type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>

                    <button type="submit" class="btn btn-outline" style="border-color:cadetblue; color:cadetblue">
                        Sign in
                    </button>
                    <a class="btn btn-outline" style="border-color:cadetblue; color:cadetblue" href="/#/register"> Register</a>
                    </fieldset>
                    {{message}}
                </form>
            </div>
        </div>

    </div>
</section>