<section class="success" id="about">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Register</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Name</label>

                            <div class="col-md-4">
                                <input id="textinput" name="textinput" type="text"
                                       placeholder="your name as it appears in your account"
                                       class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>

                            <div class="col-md-4">
                                <input id="email" name="email" type="text"
                                       placeholder="primary email you registered for online banking"
                                       class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="cc num">Credit Card Number</label>

                            <div class="col-md-4">
                                <input id="cc num" name="cc num" type="text" placeholder="your credit card number"
                                       class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="ccv">Security Code</label>

                            <div class="col-md-4">
                                <input id="ccv" name="ccv" type="text" placeholder="ccv number"
                                       class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="otp">OTP</label>

                            <div class="col-md-4">
                                <input id="otp" name="otp" type="text"
                                       placeholder="we have sent the OTP to your email. Its 4 digits"
                                       class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="ssn">SSN last 4 digits</label>

                            <div class="col-md-4">
                                <input id="ssn" name="ssn" type="text" placeholder="ssn last four digits"
                                       class="form-control input-md">

                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</section>